HID_RFID.json
[{"id":"be9fab57.24c308","type":"tab","label":"RFID Reader","disabled":false,"info":""},{"id":"98416f3e.39d66","type":"getHIDdevices","z":"be9fab57.24c308","name":"","x":320,"y":60,"wires":[["b78421be.ba292"]]},{"id":"49e42be2.b1fda4","type":"inject","z":"be9fab57.24c308","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":100,"y":60,"wires":[["98416f3e.39d66"]]},{"id":"b78421be.ba292","type":"debug","z":"be9fab57.24c308","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":530,"y":60,"wires":[]},{"id":"2677f4e.f9c2d0c","type":"HIDdevice","z":"be9fab57.24c308","connection":"4dd6cbe7.a7f044","name":"","x":170,"y":140,"wires":[["684bfdec.5d1964"],[]]},{"id":"2ab1df5b.c30ba","type":"debug","z":"be9fab57.24c308","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":650,"y":300,"wires":[]},{"id":"684bfdec.5d1964","type":"function","z":"be9fab57.24c308","name":"SelectIDPart","func":"msg.payload = msg.payload[2]\nreturn msg;","outputs":1,"noerr":0,"x":390,"y":140,"wires":[["93f282bf.f143b"]]},{"id":"93f282bf.f143b","type":"switch","z":"be9fab57.24c308","name":"Filter Digits","property":"payload","propertyType":"msg","rules":[{"t":"btwn","v":"30","vt":"num","v2":"39","v2t":"num"}],"checkall":"true","repair":false,"outputs":1,"x":390,"y":220,"wires":[["5e804d04.09e4d4"]]},{"id":"5e804d04.09e4d4","type":"function","z":"be9fab57.24c308","name":"TranslateBits","func":"keymap = [\"\",\"\",\"\",\"\",\n    'a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j', 'k', 'l', 'm',\n    'n', 'o', 'p', 'q', 'r', 's', 't', 'u', 'v', 'w', 'x', 'y', 'z',\n    '1', '2', '3', '4', '5', '6', '7', '8', '9', '0', '\\n', '^]', '^H',\n    '^I', ' ', '-', '=', '[', ']', '\\\\', '>', ';', \"'\", '`', ',', '.',\n    '/', 'CapsLock', 'F1', 'F2', 'F3', 'F4', 'F5', 'F6', 'F7', 'F8', 'F9', 'F10', 'F11', 'F12',\n    'PS', 'SL', 'Pause', 'Ins', 'Home', 'PU', '^D', 'End', 'PD', '->', '<-', '-v', '-^', 'NL',\n    'KP/', 'KP*', 'KP-', 'KP+', 'KPE', 'KP1', 'KP2', 'KP3', 'KP4', 'KP5', 'KP6', 'KP7', 'KP8',\n    'KP9', 'KP0', '\\\\', 'App', 'Pow', 'KP=', 'F13', 'F14'\n]\n\nvar replacechars = function(c) {\n    return keymap[c] || c;\n};\n\nmsg.payload = replacechars(msg.payload)\nreturn msg;","outputs":1,"noerr":0,"x":390,"y":300,"wires":[["1ed8d91a.fe29c7"]]},{"id":"1ed8d91a.fe29c7","type":"join","z":"be9fab57.24c308","name":"Join ID Bytes","mode":"custom","build":"string","property":"payload","propertyType":"msg","key":"topic","joiner":"","joinerType":"str","accumulate":false,"timeout":"0.2","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":420,"y":380,"wires":[["2ab1df5b.c30ba"]]},{"id":"4dd6cbe7.a7f044","type":"HIDConfig","z":"","vid":"65535","pid":"53","name":"Sycreader RFID"}]