nodered_flows.json
[{"id":"f2ea7ac4.d7bc98","type":"tab","label":"Index","disabled":false,"info":""},{"id":"1d9524c3.9f411b","type":"tab","label":"AccessDoor","disabled":false,"info":""},{"id":"6d5ce95a.a2e8b8","type":"tab","label":"RFID Reader","disabled":false,"info":""},{"id":"68f4595.3ef36a8","type":"tab","label":"Regist","disabled":false,"info":""},{"id":"84af6683.1d3798","type":"tab","label":"Delete","disabled":false,"info":""},{"id":"b8f3f01a.e2e3e","type":"tab","label":"Log","disabled":false,"info":""},{"id":"32027395.27e17c","type":"tab","label":"set date time","disabled":false,"info":""},{"id":"a6f29987.f1d058","type":"ui_base","theme":{"name":"theme-custom","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#636363","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","reset":false},"themeState":{"base-color":{"default":"#4B7930","value":"#636363","edited":true},"page-titlebar-backgroundColor":{"value":"#636363","edited":false},"page-backgroundColor":{"value":"#111111","edited":false},"page-sidebar-backgroundColor":{"value":"#333333","edited":false},"group-textColor":{"value":"#898989","edited":false},"group-borderColor":{"value":"#555555","edited":false},"group-backgroundColor":{"value":"#333333","edited":false},"widget-textColor":{"value":"#eeeeee","edited":false},"widget-backgroundColor":{"value":"#636363","edited":false},"widget-borderColor":{"value":"#333333","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Access Door Control","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"adea4622.f3c258","type":"ui_tab","z":"","name":" Unlock","icon":"phonelink_ring","order":1,"disabled":false,"hidden":false},{"id":"144e364f.b1b5fa","type":"ui_group","z":"","name":"Unlock","tab":"adea4622.f3c258","order":1,"disp":false,"width":"6","collapse":false},{"id":"a2be945a.8b1728","type":"ui_tab","z":"","name":" Registry","icon":"person","order":2,"disabled":false,"hidden":false},{"id":"3ebe6a4f.9fd366","type":"ui_group","z":"","name":"Group 1","tab":"a2be945a.8b1728","order":2,"disp":false,"width":"6","collapse":false},{"id":"bd0a0943.57a748","type":"HIDConfig","z":"","vid":"65535","pid":"53","name":"Sycreader RFID"},{"id":"b2402497.3d3f18","type":"MySQLdatabase","z":"","name":"Unlock Door","host":"localhost","port":"3306","db":"access_door","tz":""},{"id":"465eaa82.e3f124","type":"MSSQL-UCGv2-CN","z":"","name":"","server":"192.168.100.5","port":"1433","encyption":true,"database":"","pool":"20","connectionTimeout":"16000","requestTimeout":"15000"},{"id":"2ca50a65.6e5a86","type":"mqtt-broker","z":"","name":"LocalMqtt","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"46292c27.1837b4","type":"mqtt-broker","z":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"d0b324e4.858668","type":"MySQLdatabase","z":"","name":"insert_log","host":"localhost","port":"3306","db":"access_door","tz":""},{"id":"d3ab6e2e.b99cc","type":"MySQLdatabase","z":"","name":"regist_user","host":"localhost","port":"3306","db":"access_door","tz":""},{"id":"1cbf99f9.7e1176","type":"ui_tab","z":"","name":"Delete","icon":"gradient","order":3,"disabled":false,"hidden":false},{"id":"dd946216.acf6f","type":"ui_group","z":"","name":"Group 1","tab":"1cbf99f9.7e1176","order":1,"disp":false,"width":"6","collapse":false},{"id":"e28024e2.5ee618","type":"MySQLdatabase","z":"","name":"checkDup","host":"127.0.0.1","port":"3306","db":"access_door","tz":""},{"id":"dff5d85a.e145d8","type":"ui_group","name":"Group 1","tab":"2238be8f.88f472","order":1,"disp":true,"width":6},{"id":"2238be8f.88f472","type":"ui_tab","z":"","name":"Pushbutton","icon":"dashboard","order":44,"disabled":false,"hidden":false},{"id":"b66ccb96.dda7b8","type":"ui_spacer","name":"spacer","group":"3b65632f.4b511c","order":2,"width":1,"height":1},{"id":"7d29c8fa.a9d818","type":"ui_spacer","name":"spacer","group":"144e364f.b1b5fa","order":4,"width":1,"height":1},{"id":"f02b403f.22bbf","type":"ui_spacer","name":"spacer","group":"144e364f.b1b5fa","order":6,"width":1,"height":1},{"id":"ea28b08.31e865","type":"ui_spacer","name":"spacer","group":"3ebe6a4f.9fd366","order":9,"width":1,"height":1},{"id":"e6840c30.34ec8","type":"ui_spacer","name":"spacer","group":"3ebe6a4f.9fd366","order":7,"width":1,"height":1},{"id":"5b4d1661.460148","type":"ui_spacer","name":"spacer","group":"","order":9,"width":1,"height":1},{"id":"c5e4fe26.9a32e","type":"ui_spacer","name":"spacer","group":"","order":7,"width":1,"height":1},{"id":"b1eb05fc.b29478","type":"ui_spacer","name":"spacer","group":"","order":6,"width":1,"height":1},{"id":"787549cf.e39118","type":"ui_spacer","name":"spacer","group":"","order":4,"width":1,"height":1},{"id":"8bae41ab.5fd54","type":"ui_spacer","name":"spacer","group":"144e364f.b1b5fa","order":1,"width":"6","height":1},{"id":"3e4ece9e.fa98d2","type":"ui_spacer","name":"spacer","group":"144e364f.b1b5fa","order":7,"width":"6","height":1},{"id":"d87b3a1f.ae82e8","type":"ui_spacer","name":"spacer","group":"144e364f.b1b5fa","order":3,"width":"6","height":1},{"id":"8c52f354.07dfe","type":"ui_spacer","name":"spacer","group":"3ebe6a4f.9fd366","order":1,"width":"6","height":1},{"id":"4c67b14.451d75","type":"ui_spacer","name":"spacer","group":"3ebe6a4f.9fd366","order":6,"width":"6","height":1},{"id":"afd9273.6f7ffd8","type":"ui_spacer","name":"spacer","group":"3ebe6a4f.9fd366","order":10,"width":"6","height":1},{"id":"ade14071.95a57","type":"ui_spacer","name":"spacer","group":"","order":10,"width":"6","height":1},{"id":"bd0a2d17.3c34","type":"ui_spacer","name":"spacer","group":"8ffdc4a1.7e1328","order":1,"width":"6","height":1},{"id":"6b1b7212.4974fc","type":"MySQLdatabase","z":"","name":"Find for delete","host":"127.0.0.1","port":"3306","db":"access_door","tz":""},{"id":"5ecfd562.a5facc","type":"MySQLdatabase","z":"","name":"Delete","host":"127.0.0.1","port":"3306","db":"access_door","tz":""},{"id":"a3fabad3.829d38","type":"ui_spacer","name":"spacer","group":"dd946216.acf6f","order":6,"width":"6","height":1},{"id":"49a60400.da83dc","type":"ui_tab","z":"","name":"LOG","icon":"import_contacts","order":5,"disabled":false,"hidden":false},{"id":"b9bcd53d.0afe58","type":"ui_group","z":"","name":"Group 1","tab":"49a60400.da83dc","order":1,"disp":false,"width":"6","collapse":false},{"id":"f412590c.295398","type":"ui_group","z":"","name":"Formating Date","tab":"eed681f7.65f8d","order":1,"disp":true,"width":"5","collapse":false},{"id":"eed681f7.65f8d","type":"ui_tab","z":"","name":"Formating Date","icon":"dashboard"},{"id":"cc28c41c.9ef858","type":"MySQLdatabase","z":"","name":"find Log","host":"127.0.0.1","port":"3306","db":"access_door","tz":""},{"id":"6299c7ff.a0cce8","type":"ui_group","z":"","name":"Table","tab":"cd281699.8bdce8","order":3,"disp":true,"width":"20","collapse":false},{"id":"cd281699.8bdce8","type":"ui_tab","z":"","name":"08_FG_Stock","icon":"grid_on","order":10,"disabled":false,"hidden":false},{"id":"73160b46.6ae944","type":"ui_spacer","name":"spacer","group":"dd946216.acf6f","order":10,"width":1,"height":1},{"id":"f7b9a2e3.373b5","type":"ui_spacer","name":"spacer","group":"dd946216.acf6f","order":12,"width":1,"height":1},{"id":"2c5611c7.cfa56e","type":"ui_spacer","name":"spacer","group":"dd946216.acf6f","order":7,"width":1,"height":1},{"id":"2b887a7f.6d08d6","type":"ui_spacer","name":"spacer","group":"dd946216.acf6f","order":9,"width":1,"height":1},{"id":"6c80e8b2.e945d8","type":"ui_spacer","name":"spacer","group":"dd946216.acf6f","order":13,"width":"6","height":1},{"id":"815a257f.e42328","type":"ui_group","name":"HH","tab":"e4ff7e0b.4d549","order":2,"disp":false,"width":"2","collapse":false},{"id":"116edd45.5c3563","type":"ui_group","name":"mm","tab":"e4ff7e0b.4d549","order":3,"disp":false,"width":"2","collapse":false},{"id":"b3034e46.bcf97","type":"ui_group","name":"Current","tab":"e4ff7e0b.4d549","order":9,"disp":false,"width":6,"collapse":false},{"id":"6e584198.fcaec","type":"ui_group","name":"ss","tab":"e4ff7e0b.4d549","order":4,"disp":false,"width":"2","collapse":false},{"id":"85110eb1.0fcea","type":"ui_group","name":"Date","tab":"e4ff7e0b.4d549","order":6,"disp":false,"width":"2","collapse":false},{"id":"de759c6a.9ad7e","type":"ui_group","name":"Mon","tab":"e4ff7e0b.4d549","order":7,"disp":false,"width":"2","collapse":false},{"id":"584b5207.078f5c","type":"ui_group","name":"Year","tab":"e4ff7e0b.4d549","order":8,"disp":false,"width":"2","collapse":false},{"id":"75abb5e7.b4c54c","type":"ui_group","name":"Select Time :","tab":"e4ff7e0b.4d549","order":1,"disp":true,"width":"6","collapse":true},{"id":"94cd9172.c5f36","type":"ui_group","name":"Select Date :","tab":"e4ff7e0b.4d549","order":5,"disp":true,"width":"6","collapse":true},{"id":"e4ff7e0b.4d549","type":"ui_tab","z":"","name":"Set Date Time","icon":"fa-clock-o","order":2,"disabled":false,"hidden":false},{"id":"e4354bd9.0bed68","type":"ui_text_input","z":"1d9524c3.9f411b","name":"","label":"Password","tooltip":"","group":"144e364f.b1b5fa","order":2,"width":0,"height":0,"passthru":true,"mode":"password","delay":300,"topic":"","x":600,"y":340,"wires":[["3fadb9f0.e312b6"]]},{"id":"afde6437.c8d7f8","type":"rpi-gpio out","z":"1d9524c3.9f411b","name":"","pin":"40","set":true,"level":"0","freq":"","out":"out","x":900,"y":180,"wires":[]},{"id":"ac8c8bcd.30a148","type":"change","z":"1d9524c3.9f411b","name":"set True","rules":[{"t":"set","p":"payload","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":600,"y":220,"wires":[["afde6437.c8d7f8","8ddf0d5e.866df","a2b419e6.67aa38"]]},{"id":"b50cb891.997998","type":"change","z":"1d9524c3.9f411b","name":"set False","rules":[{"t":"set","p":"payload","pt":"msg","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":600,"y":140,"wires":[["6fd04ceb.25e7b4"]]},{"id":"6fd04ceb.25e7b4","type":"delay","z":"1d9524c3.9f411b","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":760,"y":140,"wires":[["afde6437.c8d7f8"]]},{"id":"983dc7e4.40aa18","type":"rpi-gpio in","z":"1d9524c3.9f411b","name":"","pin":"38","intype":"tri","debounce":"25","read":true,"x":70,"y":140,"wires":[["f093793f.4763a8"]]},{"id":"f093793f.4763a8","type":"function","z":"1d9524c3.9f411b","name":"OPEN","func":"\nreturn msg;","outputs":1,"noerr":0,"x":450,"y":140,"wires":[["b50cb891.997998","ac8c8bcd.30a148"]]},{"id":"d87826cf.f832c8","type":"function","z":"1d9524c3.9f411b","name":"check password","func":"\nif (global.get('Password') == global.get('MasterPassword'))\n{\nreturn [msg,null];\n}else{\n  return [null,msg];  \n}","outputs":2,"noerr":0,"x":220,"y":280,"wires":[["f093793f.4763a8"],["8ddf0d5e.866df"]],"icon":"font-awesome/fa-lock"},{"id":"d56fb40a.9d0868","type":"getHIDdevices","z":"6d5ce95a.a2e8b8","name":"","x":280,"y":60,"wires":[["2492a5fd.0bd64a"]]},{"id":"fe548cf.f19db7","type":"inject","z":"6d5ce95a.a2e8b8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":100,"y":60,"wires":[["d56fb40a.9d0868"]]},{"id":"2492a5fd.0bd64a","type":"debug","z":"6d5ce95a.a2e8b8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":470,"y":60,"wires":[]},{"id":"f66539ba.2f1d38","type":"HIDdevice","z":"6d5ce95a.a2e8b8","connection":"bd0a0943.57a748","name":"","x":110,"y":160,"wires":[["658921ed.4ce47"],[]]},{"id":"658921ed.4ce47","type":"function","z":"6d5ce95a.a2e8b8","name":"SelectIDPart","func":"msg.payload = msg.payload[2]\nreturn msg;","outputs":1,"noerr":0,"x":290,"y":160,"wires":[["a147a743.567bd8"]]},{"id":"a147a743.567bd8","type":"switch","z":"6d5ce95a.a2e8b8","name":"Filter Digits","property":"payload","propertyType":"msg","rules":[{"t":"btwn","v":"30","vt":"num","v2":"39","v2t":"num"}],"checkall":"true","repair":false,"outputs":1,"x":450,"y":160,"wires":[["6beebf5e.d4c8b"]]},{"id":"6beebf5e.d4c8b","type":"function","z":"6d5ce95a.a2e8b8","name":"TranslateBits","func":"keymap = [\"\",\"\",\"\",\"\",\n    'a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j', 'k', 'l', 'm',\n    'n', 'o', 'p', 'q', 'r', 's', 't', 'u', 'v', 'w', 'x', 'y', 'z',\n    '1', '2', '3', '4', '5', '6', '7', '8', '9', '0', '\\n', '^]', '^H',\n    '^I', ' ', '-', '=', '[', ']', '\\\\', '>', ';', \"'\", '`', ',', '.',\n    '/', 'CapsLock', 'F1', 'F2', 'F3', 'F4', 'F5', 'F6', 'F7', 'F8', 'F9', 'F10', 'F11', 'F12',\n    'PS', 'SL', 'Pause', 'Ins', 'Home', 'PU', '^D', 'End', 'PD', '->', '<-', '-v', '-^', 'NL',\n    'KP/', 'KP*', 'KP-', 'KP+', 'KPE', 'KP1', 'KP2', 'KP3', 'KP4', 'KP5', 'KP6', 'KP7', 'KP8',\n    'KP9', 'KP0', '\\\\', 'App', 'Pow', 'KP=', 'F13', 'F14'\n]\n\nvar replacechars = function(c) {\n    return keymap[c] || c;\n};\n\nmsg.payload = replacechars(msg.payload)\nreturn msg;","outputs":1,"noerr":0,"x":610,"y":160,"wires":[["f429847d.0dc8c8"]]},{"id":"f429847d.0dc8c8","type":"join","z":"6d5ce95a.a2e8b8","name":"Join ID Bytes","mode":"custom","build":"string","property":"payload","propertyType":"msg","key":"topic","joiner":"","joinerType":"str","accumulate":false,"timeout":"0.2","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":770,"y":160,"wires":[["c14a60de.a1d5b"]]},{"id":"8ddf0d5e.866df","type":"change","z":"1d9524c3.9f411b","name":"set Empty","rules":[{"t":"set","p":"payload","pt":"msg","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":600,"y":280,"wires":[["e4354bd9.0bed68"]]},{"id":"46223f15.2cc65","type":"mysql","z":"6d5ce95a.a2e8b8","mydb":"b2402497.3d3f18","name":"","x":290,"y":400,"wires":[["b4277564.34ab28"]]},{"id":"59a24cd.724f2b4","type":"function","z":"6d5ce95a.a2e8b8","name":"SQL select","func":"msg.topic = \"SELECT emp_no FROM `users` where rfid_code = '\"+global.get('EcardRFID')+\"'\"\nreturn msg;","outputs":1,"noerr":0,"x":110,"y":400,"wires":[["46223f15.2cc65"]]},{"id":"d12e2d58.591fa","type":"comment","z":"6d5ce95a.a2e8b8","name":"phpmyadmin","info":"http://localhost/phpmyadmin\nusername: root\npassword: 12345678","x":370,"y":360,"wires":[]},{"id":"c14a60de.a1d5b","type":"function","z":"6d5ce95a.a2e8b8","name":"Set_Parameter_EcardRFID","func":"global.set('EcardRFID',msg.payload);\nreturn msg;\n// return msg;","outputs":1,"noerr":0,"x":200,"y":260,"wires":[["8948c3eb.cb1f9"]]},{"id":"2f2a291b.620786","type":"function","z":"6d5ce95a.a2e8b8","name":"Get_Parameter_EcardRFID","func":"\n\n     msg.payload = global.get('EcardRFID')\n\n\nreturn msg\n\n","outputs":1,"noerr":0,"x":660,"y":380,"wires":[["a9e4c030.2311"]]},{"id":"b4277564.34ab28","type":"switch","z":"6d5ce95a.a2e8b8","name":"if found","property":"payload","propertyType":"msg","rules":[{"t":"empty"},{"t":"nempty"}],"checkall":"true","repair":false,"outputs":2,"x":440,"y":400,"wires":[["2f2a291b.620786"],["8044080.b002af8"]]},{"id":"8948c3eb.cb1f9","type":"delay","z":"6d5ce95a.a2e8b8","name":"","pauseType":"delay","timeout":"50","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":430,"y":260,"wires":[["59a24cd.724f2b4"]]},{"id":"e2e1d7c7.e09838","type":"mqtt in","z":"1d9524c3.9f411b","name":"","topic":"Pass","qos":"2","datatype":"auto","broker":"2ca50a65.6e5a86","x":210,"y":80,"wires":[["f093793f.4763a8","6a599c6.d21c064"]]},{"id":"2b39ca35.b7fd06","type":"mqtt out","z":"6d5ce95a.a2e8b8","name":"","topic":"Pass","qos":"2","retain":"","broker":"2ca50a65.6e5a86","x":890,"y":420,"wires":[]},{"id":"a9e4c030.2311","type":"mqtt out","z":"6d5ce95a.a2e8b8","name":"","topic":"Fail","qos":"2","retain":"","broker":"2ca50a65.6e5a86","x":890,"y":380,"wires":[]},{"id":"8775d0b5.7d8f8","type":"mqtt in","z":"68f4595.3ef36a8","name":"","topic":"Fail","qos":"2","datatype":"auto","broker":"2ca50a65.6e5a86","x":270,"y":60,"wires":[["21e387be.3970c8"]]},{"id":"e8bfee95.ca7bc","type":"ui_text","z":"68f4595.3ef36a8","group":"3ebe6a4f.9fd366","order":2,"width":0,"height":0,"name":"","label":"RFID","format":"{{msg.payload}}","layout":"row-spread","x":870,"y":180,"wires":[]},{"id":"ebdea431.cce8a8","type":"ui_text_input","z":"68f4595.3ef36a8","name":"","label":"EMP","tooltip":"","group":"3ebe6a4f.9fd366","order":3,"width":0,"height":0,"passthru":true,"mode":"text","delay":300,"topic":"","x":1070,"y":120,"wires":[["54bcde4a.4923c"]]},{"id":"51185f65.af72f","type":"ui_text_input","z":"68f4595.3ef36a8","name":"","label":"Password","tooltip":"","group":"3ebe6a4f.9fd366","order":4,"width":0,"height":0,"passthru":true,"mode":"password","delay":300,"topic":"","x":1060,"y":160,"wires":[["a66cb21f.44449"]]},{"id":"b13560e4.ffb3b","type":"ui_button","z":"68f4595.3ef36a8","name":"","group":"3ebe6a4f.9fd366","order":8,"width":"4","height":"1","passthru":false,"label":"Submit","tooltip":"","color":"","bgcolor":"blue","icon":"","payload":"","payloadType":"str","topic":"","x":70,"y":240,"wires":[["bbb4c8b6.cd8338"]]},{"id":"477c506.bc599b","type":"ui_button","z":"1d9524c3.9f411b","name":"","group":"144e364f.b1b5fa","order":5,"width":"4","height":"1","passthru":false,"label":"Submit","tooltip":"","color":"","bgcolor":"green","icon":"","payload":"","payloadType":"str","topic":"","x":70,"y":280,"wires":[["d87826cf.f832c8"]]},{"id":"3fadb9f0.e312b6","type":"function","z":"1d9524c3.9f411b","name":"Set_Parameter_Password","func":"global.set('Password',msg.payload);\nreturn msg;\n// return msg;","outputs":1,"noerr":0,"x":810,"y":340,"wires":[[]]},{"id":"a66cb21f.44449","type":"function","z":"68f4595.3ef36a8","name":"Set_Parameter_Password","func":"global.set('Password',msg.payload);\nreturn msg;\n// return msg;","outputs":1,"noerr":0,"x":1250,"y":160,"wires":[[]]},{"id":"bbb4c8b6.cd8338","type":"function","z":"68f4595.3ef36a8","name":"check password","func":"\nif (global.get('Password') == global.get('MasterPassword'))\n{\nreturn msg;  \n}","outputs":1,"noerr":0,"x":220,"y":240,"wires":[["fcad5d90.5d261"]],"icon":"font-awesome/fa-lock"},{"id":"54bcde4a.4923c","type":"function","z":"68f4595.3ef36a8","name":"Set_Parameter_Emp","func":"global.set('EMP',msg.payload);\nreturn msg;\n// return msg;","outputs":1,"noerr":0,"x":1240,"y":120,"wires":[[]]},{"id":"dc5e58a5.c5dd98","type":"ui_text","z":"68f4595.3ef36a8","group":"3ebe6a4f.9fd366","order":5,"width":0,"height":0,"name":"","label":"Status","format":"{{msg.payload}}","layout":"row-spread","x":1150,"y":720,"wires":[]},{"id":"9b3f3f05.ae1b3","type":"function","z":"6d5ce95a.a2e8b8","name":"","func":"msg.payload = msg.payload[0].emp_no\n\nreturn msg ;","outputs":1,"noerr":0,"x":590,"y":460,"wires":[[]]},{"id":"8044080.b002af8","type":"function","z":"6d5ce95a.a2e8b8","name":"Set_Parameter_EMP","func":"global.set('EMP',msg.payload[0].emp_no);\nreturn msg;\n// return msg;","outputs":1,"noerr":0,"x":640,"y":420,"wires":[["2b39ca35.b7fd06","db6c8bf6.6c9fd8"]]},{"id":"db6c8bf6.6c9fd8","type":"function","z":"6d5ce95a.a2e8b8","name":"SQL insert log","func":"msg.topic = \"INSERT INTO `history_log`(`emp_no`) VALUES ('\"+global.get('EMP')+\"')\"\nreturn msg;","outputs":1,"noerr":0,"x":680,"y":540,"wires":[["c646036.8e962"]]},{"id":"c646036.8e962","type":"mysql","z":"6d5ce95a.a2e8b8","mydb":"d0b324e4.858668","name":"","x":860,"y":540,"wires":[[]]},{"id":"17a274ee.fb850b","type":"function","z":"68f4595.3ef36a8","name":"SQL regist user","func":"msg.topic = \"INSERT INTO `users`( `rfid_code`, `emp_no`) VALUES ('\" + global.get('EcardRFID') +\"','\" + global.get('EMP') + \"') \"\nreturn msg;","outputs":1,"noerr":0,"x":380,"y":600,"wires":[["66eeb88f.4a1da8","bc5fc11c.d0a04"]]},{"id":"66eeb88f.4a1da8","type":"mysql","z":"68f4595.3ef36a8","mydb":"d3ab6e2e.b99cc","name":"","x":570,"y":580,"wires":[["43157d25.2ad5e4","8ddd8082.9d5ce"]]},{"id":"43157d25.2ad5e4","type":"change","z":"68f4595.3ef36a8","name":"set Empty","rules":[{"t":"set","p":"payload","pt":"msg","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":720,"y":60,"wires":[["ebdea431.cce8a8","51185f65.af72f","dc5e58a5.c5dd98"]]},{"id":"8ddd8082.9d5ce","type":"function","z":"68f4595.3ef36a8","name":"registered","func":"msg.payload = 'Successfully Registered'\nreturn msg;","outputs":1,"noerr":0,"x":760,"y":580,"wires":[["dc5e58a5.c5dd98","ca052677.7a8198"]]},{"id":"f3bc02c7.d3344","type":"mqtt in","z":"84af6683.1d3798","name":"","topic":"Pass","qos":"2","datatype":"auto","broker":"2ca50a65.6e5a86","x":170,"y":40,"wires":[["42ec9203.5e90cc"]]},{"id":"90af985e.207b08","type":"ui_text","z":"84af6683.1d3798","group":"dd946216.acf6f","order":1,"width":0,"height":0,"name":"","label":"RFID","format":"{{msg.payload}}","layout":"row-spread","x":670,"y":40,"wires":[]},{"id":"d9b4bd76.3e833","type":"ui_button","z":"84af6683.1d3798","name":"","group":"dd946216.acf6f","order":8,"width":"4","height":"1","passthru":false,"label":"Reset","tooltip":"","color":"black","bgcolor":"yellow","icon":"","payload":"","payloadType":"str","topic":"","x":470,"y":520,"wires":[["d1350edc.d81af","feffba4.1060048"]]},{"id":"42ec9203.5e90cc","type":"function","z":"84af6683.1d3798","name":"Get_Parameter_EcardRFID","func":"\n\n     msg.payload = global.get('EcardRFID')\n\n\nreturn msg\n\n","outputs":1,"noerr":0,"x":360,"y":40,"wires":[["90af985e.207b08"]]},{"id":"d7b9ad83.4ee9b","type":"mysql","z":"68f4595.3ef36a8","mydb":"e28024e2.5ee618","name":"","x":260,"y":300,"wires":[["e3845f91.3df"]]},{"id":"fcad5d90.5d261","type":"function","z":"68f4595.3ef36a8","name":"SQL select","func":"msg.topic = \"SELECT emp_no FROM `users` where emp_no = '\"+global.get('EMP')+\"'\"\nreturn msg;","outputs":1,"noerr":0,"x":110,"y":300,"wires":[["d7b9ad83.4ee9b"]]},{"id":"e3845f91.3df","type":"switch","z":"68f4595.3ef36a8","name":"if found","property":"payload","propertyType":"msg","rules":[{"t":"empty"},{"t":"nempty"}],"checkall":"true","repair":false,"outputs":2,"x":180,"y":600,"wires":[["17a274ee.fb850b"],["60de3901.338518"]]},{"id":"60de3901.338518","type":"function","z":"68f4595.3ef36a8","name":"Duplicate","func":"msg.payload = 'EMP Duplicated'\nreturn msg;","outputs":1,"noerr":0,"x":320,"y":720,"wires":[["dc5e58a5.c5dd98"]]},{"id":"d1350edc.d81af","type":"change","z":"84af6683.1d3798","name":"set Empty","rules":[{"t":"set","p":"payload","pt":"msg","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":580,"y":320,"wires":[["90af985e.207b08","46d42f8.4f305d","9e80d7ad.0aaba8","cfa819b.42d80e8"]]},{"id":"46d42f8.4f305d","type":"ui_text_input","z":"84af6683.1d3798","name":"","label":"EMP","tooltip":"","group":"dd946216.acf6f","order":3,"width":0,"height":0,"passthru":true,"mode":"text","delay":300,"topic":"","x":690,"y":180,"wires":[["6d4e2812.6e5cf8"]]},{"id":"9e80d7ad.0aaba8","type":"ui_text_input","z":"84af6683.1d3798","name":"","label":"Password","tooltip":"","group":"dd946216.acf6f","order":4,"width":0,"height":0,"passthru":true,"mode":"password","delay":300,"topic":"","x":700,"y":220,"wires":[["fb2318c3.a25e78"]]},{"id":"fb2318c3.a25e78","type":"function","z":"84af6683.1d3798","name":"Set_Parameter_Password","func":"global.set('Password',msg.payload);\nreturn msg;\n// return msg;","outputs":1,"noerr":0,"x":890,"y":220,"wires":[[]]},{"id":"6d4e2812.6e5cf8","type":"function","z":"84af6683.1d3798","name":"Set_Parameter_Emp","func":"global.set('EMP',msg.payload);\nreturn msg;\n// return msg;","outputs":1,"noerr":0,"x":880,"y":180,"wires":[[]]},{"id":"62726a2d.e5d974","type":"ui_button","z":"84af6683.1d3798","name":"","group":"dd946216.acf6f","order":11,"width":"4","height":"1","passthru":false,"label":"Submit","tooltip":"","color":"","bgcolor":"red","icon":"","payload":"","payloadType":"str","topic":"","x":70,"y":300,"wires":[["c34a445b.193258"]]},{"id":"27443d57.6e0dc2","type":"ui_text","z":"84af6683.1d3798","group":"dd946216.acf6f","order":5,"width":0,"height":0,"name":"","label":"Status","format":"{{msg.payload}}","layout":"row-spread","x":1050,"y":520,"wires":[]},{"id":"c34a445b.193258","type":"function","z":"84af6683.1d3798","name":"check password","func":"\nif (global.get('Password') == global.get('MasterPassword'))\n{\nreturn msg;  \n}","outputs":1,"noerr":0,"x":240,"y":300,"wires":[["54b43cf9.6117b4"]],"icon":"font-awesome/fa-lock"},{"id":"54b43cf9.6117b4","type":"function","z":"84af6683.1d3798","name":"SQL find","func":"msg.topic = \"SELECT emp_no FROM `users` where emp_no = '\"+global.get('EMP')+\"' or rfid_code = '\"+global.get('EcardRFID')+\"'\"\nreturn msg;","outputs":1,"noerr":0,"x":100,"y":360,"wires":[["345ab4bc.4beefc"]]},{"id":"345ab4bc.4beefc","type":"mysql","z":"84af6683.1d3798","mydb":"6b1b7212.4974fc","name":"","x":260,"y":360,"wires":[["cbcfaee.97e735"]]},{"id":"cfa819b.42d80e8","type":"function","z":"84af6683.1d3798","name":"Set_Parameter_EcardRFID","func":"global.set('EcardRFID',msg.payload);\nreturn msg;\n// return msg;","outputs":1,"noerr":0,"x":900,"y":260,"wires":[[]]},{"id":"cbcfaee.97e735","type":"switch","z":"84af6683.1d3798","name":"if found","property":"payload","propertyType":"msg","rules":[{"t":"empty"},{"t":"nempty"}],"checkall":"true","repair":false,"outputs":2,"x":120,"y":460,"wires":[["7f70df02.dd41"],["1a5ad554.b4700b"]]},{"id":"7f70df02.dd41","type":"function","z":"84af6683.1d3798","name":"not found","func":"msg.payload = 'Data Not Found'\nreturn msg;","outputs":1,"noerr":0,"x":620,"y":620,"wires":[["27443d57.6e0dc2"]]},{"id":"dfc08065.bc06b","type":"ui_ui_control","z":"84af6683.1d3798","name":"change group","events":"change","x":120,"y":120,"wires":[["46d0a9bf.fd2218"]]},{"id":"46d0a9bf.fd2218","type":"function","z":"84af6683.1d3798","name":"d_h","func":"var hourChange = picHour(new Date());\n\nmsg= [{\n    payload:    msg.payload,\n    tab:msg.tab,\n    name:msg.name,\n    hourChange:   hourChange,\n    }];     // set a new \nreturn msg;\n\n//////////////////////// fonction /////////////////////////////\n//========== picHour ==========\nfunction picHour(d) {\nvar hour = d.getHours();    //hour\nhour = hour.toString();\n    if (hour < 10) {hour = \"0\"+ hour}\nvar minutes = d.getMinutes();\nminutes = minutes.toString();\n    if (minutes < 10) {minutes = \"0\"+ minutes}\nvar secondes = d.getSeconds();\nsecondes = secondes.toString();\n    if (secondes < 10) {secondes = \"0\"+ secondes}\nvar time = (hour+':'+ minutes+':'+secondes);//(hour+minutes+secondes);//\nreturn time;\n}   // fin de picHour\n\n/*\n\n\n\n*/","outputs":1,"noerr":0,"x":290,"y":120,"wires":[["d1350edc.d81af"]]},{"id":"1a5ad554.b4700b","type":"function","z":"84af6683.1d3798","name":"SQL delete","func":"msg.topic = \"delete FROM `users` where emp_no = '\"+global.get('EMP')+\"' or rfid_code = '\"+global.get('EcardRFID')+\"'\"\nreturn msg;","outputs":1,"noerr":0,"x":130,"y":540,"wires":[["e69e8562.c83ba8"]]},{"id":"e69e8562.c83ba8","type":"mysql","z":"84af6683.1d3798","mydb":"5ecfd562.a5facc","name":"","x":290,"y":540,"wires":[["a9b755df.2a52b8","d1350edc.d81af","2ae652bb.13cabe"]]},{"id":"a9b755df.2a52b8","type":"function","z":"84af6683.1d3798","name":"Deleted","func":"msg.payload = 'User Deleted'\nreturn msg;","outputs":1,"noerr":0,"x":620,"y":660,"wires":[["27443d57.6e0dc2"]]},{"id":"d6f8602e.173d1","type":"ui_text","z":"84af6683.1d3798","group":"dd946216.acf6f","order":2,"width":"6","height":"1","name":"","label":"- OR -","format":"{{msg.payload}}","layout":"col-center","x":920,"y":40,"wires":[]},{"id":"feffba4.1060048","type":"change","z":"84af6683.1d3798","name":"set Empty","rules":[{"t":"set","p":"payload","pt":"msg","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":880,"y":520,"wires":[["27443d57.6e0dc2"]]},{"id":"7afafd2.588bd04","type":"ui_ui_control","z":"68f4595.3ef36a8","name":"change group","events":"change","x":280,"y":180,"wires":[["f769006d.58aab"]]},{"id":"f769006d.58aab","type":"function","z":"68f4595.3ef36a8","name":"d_h","func":"var hourChange = picHour(new Date());\n\nmsg= [{\n    payload:    msg.payload,\n    tab:msg.tab,\n    name:msg.name,\n    hourChange:   hourChange,\n    }];     // set a new \nreturn msg;\n\n//////////////////////// fonction /////////////////////////////\n//========== picHour ==========\nfunction picHour(d) {\nvar hour = d.getHours();    //hour\nhour = hour.toString();\n    if (hour < 10) {hour = \"0\"+ hour}\nvar minutes = d.getMinutes();\nminutes = minutes.toString();\n    if (minutes < 10) {minutes = \"0\"+ minutes}\nvar secondes = d.getSeconds();\nsecondes = secondes.toString();\n    if (secondes < 10) {secondes = \"0\"+ secondes}\nvar time = (hour+':'+ minutes+':'+secondes);//(hour+minutes+secondes);//\nreturn time;\n}   // fin de picHour\n\n/*\n\n\n\n*/","outputs":1,"noerr":0,"x":450,"y":180,"wires":[["43157d25.2ad5e4","ca052677.7a8198"]]},{"id":"f5aec521.e76bb8","type":"mosca in","z":"f2ea7ac4.d7bc98","mqtt_port":1883,"mqtt_ws_port":8080,"name":"","username":"","password":"","dburl":"","x":110,"y":40,"wires":[[]]},{"id":"cebbdce1.ad437","type":"inject","z":"f2ea7ac4.d7bc98","name":"","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":110,"y":160,"wires":[["8c44136f.15ea1"]]},{"id":"8c44136f.15ea1","type":"function","z":"f2ea7ac4.d7bc98","name":"Set_Parameter_Password","func":"global.set('MasterPassword','123456');\nreturn msg;\n// return msg;","outputs":1,"noerr":0,"x":330,"y":160,"wires":[[]],"icon":"node-red/alert.svg"},{"id":"92134d17.3a5cc","type":"exec","z":"f2ea7ac4.d7bc98","command":"sudo reboot","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":370,"y":280,"wires":[[],[],[]]},{"id":"6c91249d.96412c","type":"inject","z":"f2ea7ac4.d7bc98","name":"","topic":"Weekly","payload":"","payloadType":"date","repeat":"","crontab":"00 00 * * 0","once":false,"onceDelay":0.1,"x":130,"y":280,"wires":[["92134d17.3a5cc"]]},{"id":"45c9ea46.c63e44","type":"exec","z":"f2ea7ac4.d7bc98","command":"sudo node-red-restart","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":400,"y":340,"wires":[[],[],[]]},{"id":"652e3af9.d937e4","type":"inject","z":"f2ea7ac4.d7bc98","name":"","topic":"Daily","payload":"","payloadType":"date","repeat":"","crontab":"00 00 * * *","once":false,"onceDelay":0.1,"x":130,"y":340,"wires":[[]]},{"id":"6ef82e71.280e","type":"function","z":"b8f3f01a.e2e3e","name":"registered","func":"msg.payload = 'Successfully Registered'\nreturn msg;","outputs":1,"noerr":0,"x":180,"y":380,"wires":[[]]},{"id":"c60da800.5107b8","type":"ui_date_picker","z":"b8f3f01a.e2e3e","name":"","label":"Date","group":"b9bcd53d.0afe58","order":1,"width":0,"height":0,"passthru":true,"topic":"","x":590,"y":60,"wires":[["6847cd92.4595a4"]]},{"id":"2af15286.408d7e","type":"ui_button","z":"b8f3f01a.e2e3e","name":"","group":"b9bcd53d.0afe58","order":3,"width":0,"height":0,"passthru":false,"label":"Show","tooltip":"","color":"","bgcolor":"","icon":"","payload":"true","payloadType":"bool","topic":"","x":90,"y":220,"wires":[["712842d3.540d0c"]]},{"id":"6847cd92.4595a4","type":"function","z":"b8f3f01a.e2e3e","name":"set global Date_Picker","func":"var getDate = new Date(msg.payload)\nvar DateResult = getDate.toLocaleDateString('zh-Hans-CN')\n\nglobal.set('DatePicker', DateResult)\nreturn msg;","outputs":1,"noerr":0,"x":820,"y":80,"wires":[[]]},{"id":"3f399b9d.cde644","type":"function","z":"b8f3f01a.e2e3e","name":"get Today","func":"msg.payload =  Date.now() \n\nreturn msg;","outputs":1,"noerr":0,"x":440,"y":60,"wires":[["c60da800.5107b8"]]},{"id":"36fd3968.e4d606","type":"ui_ui_control","z":"b8f3f01a.e2e3e","name":"change group","events":"change","x":120,"y":60,"wires":[["4737e2e9.dd160c"]]},{"id":"4737e2e9.dd160c","type":"function","z":"b8f3f01a.e2e3e","name":"d_h","func":"var hourChange = picHour(new Date());\n\nmsg= [{\n    payload:    msg.payload,\n    tab:msg.tab,\n    name:msg.name,\n    hourChange:   hourChange,\n    }];     // set a new \nreturn msg;\n\n//////////////////////// fonction /////////////////////////////\n//========== picHour ==========\nfunction picHour(d) {\nvar hour = d.getHours();    //hour\nhour = hour.toString();\n    if (hour < 10) {hour = \"0\"+ hour}\nvar minutes = d.getMinutes();\nminutes = minutes.toString();\n    if (minutes < 10) {minutes = \"0\"+ minutes}\nvar secondes = d.getSeconds();\nsecondes = secondes.toString();\n    if (secondes < 10) {secondes = \"0\"+ secondes}\nvar time = (hour+':'+ minutes+':'+secondes);//(hour+minutes+secondes);//\nreturn time;\n}   // fin de picHour\n\n/*\n\n\n\n*/","outputs":1,"noerr":0,"x":290,"y":60,"wires":[["3f399b9d.cde644"]]},{"id":"fad31cdd.982e9","type":"change","z":"b8f3f01a.e2e3e","name":"set Empty","rules":[{"t":"set","p":"payload","pt":"msg","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":460,"y":120,"wires":[[]]},{"id":"af4bf9e4.1f51d8","type":"function","z":"b8f3f01a.e2e3e","name":"Set_Parameter_Emp","func":"global.set('EMP',msg.payload);\nreturn msg;\n// return msg;","outputs":1,"noerr":0,"x":780,"y":120,"wires":[[]]},{"id":"712842d3.540d0c","type":"function","z":"b8f3f01a.e2e3e","name":"","func":"// if (global.get('EMP') !== ''){\n//   msg.topic = \"SELECT CAST(`timestamp` AS TIME) AS Time,`emp_no` FROM `history_log` WHERE CAST(`timestamp` AS DATE) = '\" + global.get('DatePicker') + \"' and emp_no = '\" + global.get('EMP') + \"' ORDER by `timestamp` DESC;\"\n// }else{\n  msg.topic = \"SELECT CAST(`timestamp` AS TIME) AS Time,`emp_no` FROM `history_log` WHERE CAST(`timestamp` AS DATE) = '\" + global.get('DatePicker') + \"'  ORDER by `timestamp` DESC;\"\n// }\n return msg;","outputs":1,"noerr":0,"x":230,"y":220,"wires":[["107c7d2e.a0d513","39444b4c.723304"]]},{"id":"5af2f53e.a226ac","type":"comment","z":"b8f3f01a.e2e3e","name":"","info":"SELECT `timestamp`\n,`emp_no` \n,CAST(`timestamp` AS DATE) AS DATE\n,CAST(`timestamp` AS TIME) AS Time\nFROM `history_log` \nWHERE CAST(`timestamp` AS DATE) = '2020-12-09'","x":180,"y":340,"wires":[]},{"id":"af192ea1.5e56f","type":"function","z":"b8f3f01a.e2e3e","name":"","func":"msg.payload = msg.payload\nreturn msg;","outputs":1,"noerr":0,"x":170,"y":440,"wires":[[]]},{"id":"1fb4bfba.ddc09","type":"function","z":"b8f3f01a.e2e3e","name":"set global Date_Picker","func":"var getDate = new Date(msg.payload)\nvar DateResult = getDate.toLocaleDateString('en-GB', {\n  day: 'numeric', month: 'short', year: 'numeric'\n})\nglobal.set('DatePicker', DateResult)\nreturn msg;","outputs":1,"noerr":0,"x":820,"y":40,"wires":[[]]},{"id":"107c7d2e.a0d513","type":"mysql","z":"b8f3f01a.e2e3e","mydb":"cc28c41c.9ef858","name":"","x":380,"y":220,"wires":[["d69b96f2.7d8558"]]},{"id":"d69b96f2.7d8558","type":"ui_template","z":"b8f3f01a.e2e3e","group":"b9bcd53d.0afe58","name":"FG Stock table","order":4,"width":"6","height":"9","format":"<table id=\"tableDailyMan\" border=\"1\">\n    <thead>\n     <tr>\n         <th>Time</th> \n         <th>Emp No</th>\n     </tr >\n    </thead>\n <tbody>\n     <tr ng-repeat=\"row in msg.payload\">\n        <td ng-repeat=\"item in row\">{{item}}</td>\n     </tr>\n </tbody>\n</table>","storeOutMessages":false,"fwdInMessages":true,"resendOnRefresh":false,"templateScope":"local","x":640,"y":220,"wires":[[]]},{"id":"274d4c7a.d636a4","type":"function","z":"b8f3f01a.e2e3e","name":"SetNumber","func":"\nfor (var i = 0; i < msg.payload.length; i++) {\n\nmsg.payload[i][\"Z16A\"] =  msg.payload[i][\"Z16A\"].toLocaleString()\n msg.payload[i][\"Z16B\"] =  msg.payload[i][\"Z16B\"].toLocaleString()\n msg.payload[i][\"Z17C\"] =  msg.payload[i][\"Z17C\"].toLocaleString()\n msg.payload[i][\"Z17D\"] =  msg.payload[i][\"Z17D\"].toLocaleString()\n msg.payload[i][\"Z5\"] =  msg.payload[i][\"Z5\"].toLocaleString()\n msg.payload[i][\"AutoMate\"] =  msg.payload[i][\"AutoMate\"].toLocaleString()\n msg.payload[i][\"Total\"] =  msg.payload[i][\"Total\"].toLocaleString()\n \n \n}\nreturn msg","outputs":1,"noerr":0,"x":510,"y":400,"wires":[[]]},{"id":"8e180bb2.d89258","type":"exec","z":"f2ea7ac4.d7bc98","command":"sudo shutdown","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":380,"y":400,"wires":[[],[],[]]},{"id":"f4015119.067e3","type":"inject","z":"f2ea7ac4.d7bc98","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":160,"y":400,"wires":[["8e180bb2.d89258"]]},{"id":"ca052677.7a8198","type":"change","z":"68f4595.3ef36a8","name":"Tab RFID Card","rules":[{"t":"set","p":"payload","pt":"msg","to":"Tab RFID Card","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":680,"y":180,"wires":[["e8bfee95.ca7bc"]]},{"id":"2ae652bb.13cabe","type":"change","z":"84af6683.1d3798","name":"set Empty","rules":[{"t":"set","p":"payload","pt":"msg","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":520,"y":160,"wires":[["90af985e.207b08"]]},{"id":"6a599c6.d21c064","type":"debug","z":"1d9524c3.9f411b","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":420,"y":80,"wires":[]},{"id":"bc5fc11c.d0a04","type":"debug","z":"68f4595.3ef36a8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":570,"y":640,"wires":[]},{"id":"a2b419e6.67aa38","type":"mqtt out","z":"1d9524c3.9f411b","name":"","topic":"Unlock","qos":"2","retain":"","broker":"2ca50a65.6e5a86","x":890,"y":220,"wires":[]},{"id":"2b55fc3f.64e974","type":"debug","z":"68f4595.3ef36a8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":750,"y":900,"wires":[]},{"id":"367568fb.b08928","type":"mqtt in","z":"84af6683.1d3798","name":"","topic":"Unlock","qos":"2","datatype":"auto","broker":"2ca50a65.6e5a86","x":710,"y":480,"wires":[["feffba4.1060048"]]},{"id":"88ace387.edfae","type":"mqtt in","z":"84af6683.1d3798","name":"","topic":"Fail","qos":"2","datatype":"auto","broker":"2ca50a65.6e5a86","x":710,"y":440,"wires":[["feffba4.1060048"]]},{"id":"4c5dfccd.1fe6d4","type":"mqtt in","z":"84af6683.1d3798","name":"","topic":"Pass","qos":"2","datatype":"auto","broker":"2ca50a65.6e5a86","x":710,"y":400,"wires":[["feffba4.1060048"]]},{"id":"87f59bea.2b1438","type":"inject","z":"84af6683.1d3798","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":710,"y":380,"wires":[["feffba4.1060048"]]},{"id":"20b024a1.e537cc","type":"ui_dropdown","z":"32027395.27e17c","name":"HH","label":"","tooltip":"","place":"HH","group":"815a257f.e42328","order":2,"width":"2","height":1,"passthru":true,"multiple":false,"options":[{"label":"","value":"00","type":"str"},{"label":"","value":"01","type":"str"},{"label":"","value":"02","type":"str"},{"label":"","value":"03","type":"str"},{"label":"","value":"04","type":"str"},{"label":"","value":"05","type":"str"},{"label":"","value":"06","type":"str"},{"label":"","value":"07","type":"str"},{"label":"","value":"08","type":"str"},{"label":"","value":"09","type":"str"},{"label":"","value":"10","type":"str"},{"label":"","value":"11","type":"str"},{"label":"","value":"12","type":"str"},{"label":"","value":"13","type":"str"},{"label":"","value":"14","type":"str"},{"label":"","value":"15","type":"str"},{"label":"","value":"16","type":"str"},{"label":"","value":"17","type":"str"},{"label":"","value":"18","type":"str"},{"label":"","value":"19","type":"str"},{"label":"","value":"20","type":"str"},{"label":"","value":"21","type":"str"},{"label":"","value":"22","type":"str"},{"label":"","value":"23","type":"str"}],"payload":"","topic":"HH","x":310,"y":60,"wires":[["e3bccee9.47819"]]},{"id":"8452c480.b7a538","type":"ui_dropdown","z":"32027395.27e17c","name":"mm","label":"","tooltip":"","place":"mm","group":"116edd45.5c3563","order":2,"width":"2","height":1,"passthru":true,"multiple":false,"options":[{"label":"","value":"00","type":"str"},{"label":"","value":"01","type":"str"},{"label":"","value":"02","type":"str"},{"label":"","value":"03","type":"str"},{"label":"","value":"04","type":"str"},{"label":"","value":"05","type":"str"},{"label":"","value":"06","type":"str"},{"label":"","value":"07","type":"str"},{"label":"","value":"08","type":"str"},{"label":"","value":"09","type":"str"},{"label":"","value":"10","type":"str"},{"label":"","value":"11","type":"str"},{"label":"","value":"12","type":"str"},{"label":"","value":"13","type":"str"},{"label":"","value":"14","type":"str"},{"label":"","value":"15","type":"str"},{"label":"","value":"16","type":"str"},{"label":"","value":"17","type":"str"},{"label":"","value":"18","type":"str"},{"label":"","value":"19","type":"str"},{"label":"","value":"20","type":"str"},{"label":"","value":"21","type":"str"},{"label":"","value":"22","type":"str"},{"label":"","value":"23","type":"str"},{"label":"","value":"24","type":"str"},{"label":"","value":"25","type":"str"},{"label":"","value":"26","type":"str"},{"label":"","value":"27","type":"str"},{"label":"","value":"28","type":"str"},{"label":"","value":"29","type":"str"},{"label":"","value":"30","type":"str"},{"label":"","value":"31","type":"str"},{"label":"","value":"32","type":"str"},{"label":"","value":"33","type":"str"},{"label":"","value":"34","type":"str"},{"label":"","value":"35","type":"str"},{"label":"","value":"36","type":"str"},{"label":"","value":"37","type":"str"},{"label":"","value":"38","type":"str"},{"label":"","value":"39","type":"str"},{"label":"","value":"40","type":"str"},{"label":"","value":"41","type":"str"},{"label":"","value":"42","type":"str"},{"label":"","value":"43","type":"str"},{"label":"","value":"44","type":"str"},{"label":"","value":"45","type":"str"},{"label":"","value":"46","type":"str"},{"label":"","value":"47","type":"str"},{"label":"","value":"48","type":"str"},{"label":"","value":"49","type":"str"},{"label":"","value":"50","type":"str"},{"label":"","value":"51","type":"str"},{"label":"","value":"52","type":"str"},{"label":"","value":"53","type":"str"},{"label":"","value":"54","type":"str"},{"label":"","value":"55","type":"str"},{"label":"","value":"56","type":"str"},{"label":"","value":"57","type":"str"},{"label":"","value":"58","type":"str"},{"label":"","value":"59","type":"str"}],"payload":"","topic":"mm","x":310,"y":100,"wires":[["25bbb9d0.49f366"]]},{"id":"4e8b941.0f2da6c","type":"ui_button","z":"32027395.27e17c","name":"","group":"b3034e46.bcf97","order":2,"width":0,"height":0,"passthru":false,"label":"SET","tooltip":"","color":"black","bgcolor":"yellow","icon":"","payload":"","payloadType":"str","topic":"topic","x":610,"y":500,"wires":[["9d111dec.7633"]]},{"id":"c1b2fa82.4fdb38","type":"comment","z":"32027395.27e17c","name":"","info":"Source [ANGULAR JS](https://docs.angularjs.org/api/ng/filter/date).\n\nFormats date to a string based on the requested format.\n\nformat string can be composed of the following elements:\n\n* 'yyyy': 4 digit representation of year (e.g. AD 1 => 0001, AD 2010 => 2010)\n* 'yy': 2 digit representation of year, padded (00-99). (e.g. AD 2001 => 01, AD 2010 => 10)\n* 'y': 1 digit representation of year, e.g. (AD 1 => 1, AD 199 => 199)\n* 'MMMM': Month in year (January-December)\n* 'MMM': Month in year (Jan-Dec)\n* 'MM': Month in year, padded (01-12)\n* 'M': Month in year (1-12)\n* 'LLLL': Stand-alone month in year (January-December)\n* 'dd': Day in month, padded (01-31)\n* 'd': Day in month (1-31)\n* 'EEEE': Day in Week,(Sunday-Saturday)\n* 'EEE': Day in Week, (Sun-Sat)\n* 'HH': Hour in day, padded (00-23)\n* 'H': Hour in day (0-23)\n* 'hh': Hour in AM/PM, padded (01-12)\n* 'h': Hour in AM/PM, (1-12)\n* 'mm': Minute in hour, padded (00-59)\n* 'm': Minute in hour (0-59)\n* 'ss': Second in minute, padded (00-59)\n* 's': Second in minute (0-59)\n* 'sss': Millisecond in second, padded (000-999)\n* 'a': AM/PM marker\n* 'Z': 4 digit (+sign) representation of the timezone offset (-1200-+1200)\n* 'ww': Week of year, padded (00-53). Week 01 is the week with the first Thursday of the year\n* 'w': Week of year (0-53). Week 1 is the week with the first Thursday of the year\n* 'G', 'GG', 'GGG': The abbreviated form of the era string (e.g. 'AD')\n* 'GGGG': The long form of the era string (e.g. 'Anno Domini')\n\nformat string can also be one of the following predefined localizable formats:\n\n* 'medium': equivalent to 'MMM d, y h:mm:ss a' for en_US locale (e.g. Sep 3, 2010 12:05:08 PM)\n\n* 'short': equivalent to 'M/d/yy h:mm a' for en_US locale (e.g. 9/3/10 12:05 PM)\n* 'fullDate': equivalent to 'EEEE, MMMM d, y' for en_US locale (e.g. Friday, September 3, 2010)\n* 'longDate': equivalent to 'MMMM d, y' for en_US locale (e.g. September 3, 2010)\n* 'mediumDate': equivalent to 'MMM d, y' for en_US locale (e.g. Sep 3, 2010)\n* 'shortDate': equivalent to 'M/d/yy' for en_US locale (e.g. 9/3/10)\n* 'mediumTime': equivalent to 'h:mm:ss a' for en_US locale (e.g. 12:05:08 PM)\n* 'shortTime': equivalent to 'h:mm a' for en_US locale (e.g. 12:05 PM)\n\nformat string can contain literal values. These need to be escaped by surrounding with single quotes (e.g. \"h 'in the morning'\"). In order to output a single quote, escape it - i.e., two single quotes in a sequence (e.g. \"h 'o''clock'\").\n\nAny other characters in the format string will be output as-is.","x":240,"y":560,"wires":[]},{"id":"3a4865fe.ea40da","type":"ui_text","z":"32027395.27e17c","group":"b3034e46.bcf97","order":3,"width":"3","height":1,"name":"C_date","label":"","format":"{{payload | date:\"dd MMM yyyy\"}}","layout":"row-left","x":440,"y":520,"wires":[]},{"id":"c69b4e7a.fcbe9","type":"inject","z":"32027395.27e17c","name":"","topic":"","payloadType":"date","repeat":"1","crontab":"","once":true,"onceDelay":"","x":240,"y":520,"wires":[["3a4865fe.ea40da","48dfcd98.e6e604"]]},{"id":"4253237d.be9a1c","type":"inject","z":"32027395.27e17c","name":"","topic":"","payload":"00","payloadType":"str","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":110,"y":60,"wires":[["20b024a1.e537cc","8452c480.b7a538","5009ee37.c9cf"]]},{"id":"48dfcd98.e6e604","type":"ui_text","z":"32027395.27e17c","group":"b3034e46.bcf97","order":4,"width":"3","height":1,"name":"C_time","label":"","format":"{{payload | date:\"HH:mm:ss\"}}","layout":"row-spread","x":440,"y":560,"wires":[]},{"id":"35aea14.a8a855e","type":"comment","z":"32027395.27e17c","name":"","info":"sudo date -s \"Mon Aug  12 20:14:11 UTC 2014\"\nsudo date -s \"10 JAN 2016 20:37:00\"","x":800,"y":40,"wires":[]},{"id":"5009ee37.c9cf","type":"ui_dropdown","z":"32027395.27e17c","name":"ss","label":"","tooltip":"","place":"mm","group":"6e584198.fcaec","order":2,"width":"2","height":1,"passthru":true,"multiple":false,"options":[{"label":"","value":"00","type":"str"},{"label":"","value":"01","type":"str"},{"label":"","value":"02","type":"str"},{"label":"","value":"03","type":"str"},{"label":"","value":"04","type":"str"},{"label":"","value":"05","type":"str"},{"label":"","value":"06","type":"str"},{"label":"","value":"07","type":"str"},{"label":"","value":"08","type":"str"},{"label":"","value":"09","type":"str"},{"label":"","value":"10","type":"str"},{"label":"","value":"11","type":"str"},{"label":"","value":"12","type":"str"},{"label":"","value":"13","type":"str"},{"label":"","value":"14","type":"str"},{"label":"","value":"15","type":"str"},{"label":"","value":"16","type":"str"},{"label":"","value":"17","type":"str"},{"label":"","value":"18","type":"str"},{"label":"","value":"19","type":"str"},{"label":"","value":"20","type":"str"},{"label":"","value":"21","type":"str"},{"label":"","value":"22","type":"str"},{"label":"","value":"23","type":"str"},{"label":"","value":"24","type":"str"},{"label":"","value":"25","type":"str"},{"label":"","value":"26","type":"str"},{"label":"","value":"27","type":"str"},{"label":"","value":"28","type":"str"},{"label":"","value":"29","type":"str"},{"label":"","value":"30","type":"str"},{"label":"","value":"31","type":"str"},{"label":"","value":"32","type":"str"},{"label":"","value":"33","type":"str"},{"label":"","value":"34","type":"str"},{"label":"","value":"35","type":"str"},{"label":"","value":"36","type":"str"},{"label":"","value":"37","type":"str"},{"label":"","value":"38","type":"str"},{"label":"","value":"39","type":"str"},{"label":"","value":"40","type":"str"},{"label":"","value":"41","type":"str"},{"label":"","value":"42","type":"str"},{"label":"","value":"43","type":"str"},{"label":"","value":"44","type":"str"},{"label":"","value":"45","type":"str"},{"label":"","value":"46","type":"str"},{"label":"","value":"47","type":"str"},{"label":"","value":"48","type":"str"},{"label":"","value":"49","type":"str"},{"label":"","value":"50","type":"str"},{"label":"","value":"51","type":"str"},{"label":"","value":"52","type":"str"},{"label":"","value":"53","type":"str"},{"label":"","value":"54","type":"str"},{"label":"","value":"55","type":"str"},{"label":"","value":"56","type":"str"},{"label":"","value":"57","type":"str"},{"label":"","value":"58","type":"str"},{"label":"","value":"59","type":"str"}],"payload":"","topic":"ss","x":310,"y":140,"wires":[["8bdfa09c.2589c"]]},{"id":"b699dbcb.df52c8","type":"function","z":"32027395.27e17c","name":"HH:mm:ss","func":"msg.payload = global.get(\"HH\") +':'+ global.get(\"mm\") +':'+global.get(\"ss\")\n\nreturn msg;","outputs":1,"noerr":0,"x":610,"y":100,"wires":[["21b0c18f.1f5d5e"]]},{"id":"21b0c18f.1f5d5e","type":"debug","z":"32027395.27e17c","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":790,"y":100,"wires":[]},{"id":"e3bccee9.47819","type":"function","z":"32027395.27e17c","name":"set HH","func":"global.set(\"HH\",msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":430,"y":60,"wires":[["b699dbcb.df52c8"]]},{"id":"25bbb9d0.49f366","type":"function","z":"32027395.27e17c","name":"set mm","func":"global.set(\"mm\",msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":440,"y":100,"wires":[["b699dbcb.df52c8"]]},{"id":"8bdfa09c.2589c","type":"function","z":"32027395.27e17c","name":"set ss","func":"global.set(\"ss\",msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":430,"y":140,"wires":[["b699dbcb.df52c8"]]},{"id":"94ff8875.a28cd8","type":"ui_dropdown","z":"32027395.27e17c","name":"dd","label":"","tooltip":"","place":"dd","group":"85110eb1.0fcea","order":2,"width":"2","height":1,"passthru":true,"multiple":false,"options":[{"label":"","value":"01","type":"str"},{"label":"","value":"02","type":"str"},{"label":"","value":"03","type":"str"},{"label":"","value":"04","type":"str"},{"label":"","value":"05","type":"str"},{"label":"","value":"06","type":"str"},{"label":"","value":"07","type":"str"},{"label":"","value":"08","type":"str"},{"label":"","value":"09","type":"str"},{"label":"","value":"10","type":"str"},{"label":"","value":"11","type":"str"},{"label":"","value":"12","type":"str"},{"label":"","value":"13","type":"str"},{"label":"","value":"14","type":"str"},{"label":"","value":"15","type":"str"},{"label":"","value":"16","type":"str"},{"label":"","value":"17","type":"str"},{"label":"","value":"18","type":"str"},{"label":"","value":"19","type":"str"},{"label":"","value":"20","type":"str"},{"label":"","value":"21","type":"str"},{"label":"","value":"22","type":"str"},{"label":"","value":"23","type":"str"},{"label":"","value":"24","type":"str"},{"label":"","value":"25","type":"str"},{"label":"","value":"26","type":"str"},{"label":"","value":"27","type":"str"},{"label":"","value":"28","type":"str"},{"label":"","value":"29","type":"str"},{"label":"","value":"30","type":"str"},{"label":"","value":"31","type":"str"}],"payload":"","topic":"dd","x":310,"y":280,"wires":[["8ea813d8.ee08f"]]},{"id":"3e7323a.8a438dc","type":"ui_dropdown","z":"32027395.27e17c","name":"MMM","label":"","tooltip":"","place":"MMM","group":"de759c6a.9ad7e","order":2,"width":"2","height":1,"passthru":true,"multiple":false,"options":[{"label":"","value":"JAN","type":"str"},{"label":"","value":"FEB","type":"str"},{"label":"","value":"MAR","type":"str"},{"label":"","value":"APR","type":"str"},{"label":"","value":"MAY","type":"str"},{"label":"","value":"JUN","type":"str"},{"label":"","value":"JUL","type":"str"},{"label":"","value":"AUG","type":"str"},{"label":"","value":"SEP","type":"str"},{"label":"","value":"OCT","type":"str"},{"label":"","value":"NOV","type":"str"},{"label":"","value":"DEC","type":"str"}],"payload":"","topic":"MMM","x":310,"y":320,"wires":[["2ae89a91.f6f856"]]},{"id":"fa03b4da.3c8678","type":"ui_dropdown","z":"32027395.27e17c","name":"yyyy","label":"","tooltip":"","place":"yyyy","group":"584b5207.078f5c","order":2,"width":"2","height":1,"passthru":true,"multiple":false,"options":[{"label":"","value":"2021","type":"str"},{"label":"","value":"2022","type":"str"},{"label":"","value":"2023","type":"str"},{"label":"","value":"2024","type":"str"},{"label":"","value":"2025","type":"str"},{"label":"","value":"2026","type":"str"},{"label":"","value":"2027","type":"str"},{"label":"","value":"2028","type":"str"},{"label":"","value":"2029","type":"str"},{"label":"","value":"2030","type":"str"},{"label":"","value":"2031","type":"str"},{"label":"","value":"2032","type":"str"},{"label":"","value":"2033","type":"str"}],"payload":"","topic":"yyyy","x":310,"y":360,"wires":[["b186382b.dc4058"]]},{"id":"775b171e.087f48","type":"inject","z":"32027395.27e17c","name":"","topic":"","payload":"01","payloadType":"str","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":130,"y":280,"wires":[["94ff8875.a28cd8"]]},{"id":"8e463206.af68b","type":"inject","z":"32027395.27e17c","name":"","topic":"","payload":"JAN","payloadType":"str","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":130,"y":320,"wires":[["3e7323a.8a438dc"]]},{"id":"ecd0482b.ad52e8","type":"inject","z":"32027395.27e17c","name":"","topic":"","payload":"2022","payloadType":"str","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":130,"y":360,"wires":[["fa03b4da.3c8678"]]},{"id":"8ea813d8.ee08f","type":"function","z":"32027395.27e17c","name":"set dd","func":"global.set(\"dd\",msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":430,"y":280,"wires":[["24e3b37f.f5d4fc"]]},{"id":"2ae89a91.f6f856","type":"function","z":"32027395.27e17c","name":"set MMM","func":"global.set(\"MMM\",msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":440,"y":320,"wires":[["24e3b37f.f5d4fc"]]},{"id":"b186382b.dc4058","type":"function","z":"32027395.27e17c","name":"set yyyy","func":"global.set(\"yyyy\",msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":440,"y":360,"wires":[["24e3b37f.f5d4fc"]]},{"id":"24e3b37f.f5d4fc","type":"function","z":"32027395.27e17c","name":"dd MMM yyyy","func":"msg.payload = global.get(\"dd\") +' '+ global.get(\"MMM\") +' '+global.get(\"yyyy\")\n\nreturn msg;","outputs":1,"noerr":0,"x":640,"y":320,"wires":[["378cb346.9b589c"]]},{"id":"378cb346.9b589c","type":"debug","z":"32027395.27e17c","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":820,"y":320,"wires":[]},{"id":"888d5138.3c241","type":"ui_text","z":"32027395.27e17c","group":"75abb5e7.b4c54c","order":3,"width":0,"height":0,"name":"","label":"","format":"{{msg.payload}}","layout":"row-spread","x":130,"y":200,"wires":[]},{"id":"a7344a2a.761e78","type":"ui_text","z":"32027395.27e17c","group":"94cd9172.c5f36","order":3,"width":0,"height":0,"name":"","label":"","format":"{{msg.payload}}","layout":"row-spread","x":130,"y":420,"wires":[]},{"id":"1afd47ea.702798","type":"ui_text","z":"32027395.27e17c","group":"815a257f.e42328","order":1,"width":"2","height":"1","name":"","label":"Hour","format":"{{msg.payload}}","layout":"row-spread","x":250,"y":200,"wires":[]},{"id":"e88cc8aa.a2aa48","type":"ui_text","z":"32027395.27e17c","group":"116edd45.5c3563","order":1,"width":"2","height":"1","name":"","label":"Min","format":"{{msg.payload}}","layout":"row-spread","x":370,"y":200,"wires":[]},{"id":"9e1836d9.3568f8","type":"ui_text","z":"32027395.27e17c","group":"6e584198.fcaec","order":1,"width":"2","height":"1","name":"","label":"Sec","format":"{{msg.payload}}","layout":"row-spread","x":490,"y":200,"wires":[]},{"id":"ea415f39.c0f2e","type":"ui_text","z":"32027395.27e17c","group":"85110eb1.0fcea","order":1,"width":"2","height":"1","name":"","label":"Date","format":"{{msg.payload}}","layout":"row-spread","x":250,"y":420,"wires":[]},{"id":"cbce1f7f.62caf","type":"ui_text","z":"32027395.27e17c","group":"de759c6a.9ad7e","order":1,"width":"2","height":"1","name":"","label":"Mon","format":"{{msg.payload}}","layout":"row-spread","x":370,"y":420,"wires":[]},{"id":"a360a906.3c92b8","type":"ui_text","z":"32027395.27e17c","group":"584b5207.078f5c","order":1,"width":"2","height":"1","name":"","label":"Year","format":"{{msg.payload}}","layout":"row-spread","x":490,"y":420,"wires":[]},{"id":"9d111dec.7633","type":"function","z":"32027395.27e17c","name":"sudo","func":"msg.payload = `sudo date -s \"`+global.get(\"dd\") +' '+ global.get(\"MMM\") +' '+global.get(\"yyyy\")+` `+global.get(\"HH\") +':'+ global.get(\"mm\") +':'+global.get(\"ss\")+`\"`\n\n\n\n\n\nreturn msg;","outputs":1,"noerr":0,"x":750,"y":460,"wires":[["25166a4.fa2da96"]]},{"id":"25166a4.fa2da96","type":"exec","z":"32027395.27e17c","command":"","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":860,"y":600,"wires":[[],[],[]]},{"id":"4b27991e.bdcb18","type":"function","z":"68f4595.3ef36a8","name":"","func":"msg.payload = global.get('EcardRFID')\nreturn msg;","outputs":1,"noerr":0,"x":570,"y":880,"wires":[["2b55fc3f.64e974"]]},{"id":"70a6550e.754e2c","type":"inject","z":"68f4595.3ef36a8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":400,"y":880,"wires":[["4b27991e.bdcb18"]]},{"id":"21e387be.3970c8","type":"delay","z":"68f4595.3ef36a8","name":"","pauseType":"delay","timeout":"50","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":450,"y":100,"wires":[["e8bfee95.ca7bc","43157d25.2ad5e4"]]},{"id":"39444b4c.723304","type":"debug","z":"b8f3f01a.e2e3e","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":400,"y":180,"wires":[]}]